.container {
  display: flex;
  width: 210px;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    white 50%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    white 50%,
    transparent 100%
  );
  position: relative;
}

  .container::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 100%;
    height: 32px;
  
    background: rgb(45, 45, 45); 
    border-radius: 5px;
    pointer-events: none;
    z-index: -1;
  }
  
  .items {
    /* width: 100%; */
    height: 100%;
    padding: 50% 0;
    margin: 0;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .items::-webkit-scrollbar {
    display: none;
  }
  
  .item {
    margin-right: 10px;
    list-style-type: none;
    width: 100%;
    text-align: right;
    scroll-snap-align: center;
  }
  
  .item div {
    display: inline-block;
  }
  .App {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  * {
    box-sizing: border-box;
  }
  