@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
}

html,
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  @apply text-white bg-black antialiased;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.blue-gradient-text {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #006eff, #baffdc);
}
.pill-bg { 
  background-image: linear-gradient(to right, black, rgb(12, 12, 12));
}
.blue-bg {
  background: #2087cc;
}
.blue-gradient-bg {
  background-image: linear-gradient(to right, #2087cc, #58a0cf);
}
.green-gradient-bg {
  background-image: linear-gradient(to right, #23e24c, #87df9a);
}
.grey-gradient-text {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #989898, #c4c3c3);
}
.circle-div {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.height-screen-helper {
  height: calc(100vh - 80px);
}
